/**
 * @Author: Nicolas Fazio <webmaster-fazio>
 * @Date:   30-06-2017
 * @Email:  contact@nicolasfazio.ch
 * @Last modified by:   webmaster-fazio
 * @Last modified time: 04-07-2017
 */
body {
  background: #eeeeee;
  // padding: 100px 0
}
.carousel img {
  border-radius: 100%
}

.lineThrough {
  text-decoration: line-through;
}
